@model SelectCoursesViewModel

@{
    ViewData["Title"] = "Selecteer vakken";
}

<h2>@ViewData["Title"]</h2>
<hr/>

<div class="row">
    <div class="col-md-8">
        <form asp-controller="Feed" asp-action="SelectCourses" method="post" class="form-horizontal" role="form">
            <h4>Cursussen</h4>
            <hr />
            
            @for(var i = 0; i < Model.SelectedCourses.Count; i++)
            {
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input asp-for="@Model.SelectedCourses[i].Selected"/>
                                <input type="hidden" asp-for="@Model.SelectedCourses[i].Name"/>
                                @Model.SelectedCourses[i].Name
                            </label>
                        </div>
                    </div>
                </div>
            }
                
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">Sla op</button>
                </div>
            </div>
        </form>
    </div>
</div>