@model SelectCoursesViewModel

<div class="row">
<div class="col-md-6 col-md-offset-3">
    <h3>Select Courses</h3>
    <hr/>

    <div class="row">
        <form asp-controller="User" asp-action="SelectCourses" method="post" class="form-horizontal" role="form">   
            <div class="form-group text-center">
                <div class="btn-group">
                    <a href="@Url.Action("Index", "User")" class="btn btn-default">Go back</a>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
            @for(var i = 0; i < Model.SelectedCourses.Count; i++)
            {
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input asp-for="@Model.SelectedCourses[i].Selected"/>
                                <input type="hidden" asp-for="@Model.SelectedCourses[i].Name"/>
                                @Model.SelectedCourses[i].Name
                            </label>
                        </div>
                    </div>
                </div>
            }
        </form>
    </div>
</div>
</div>